flow.json
[{"id":"36d0e4c3.29d19c","type":"tab","label":"Ex02 - Temp Sensor","disabled":false,"info":""},{"id":"d9dc4d4b.10814","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6ef6d165.7e5ae","type":"ui_tab","z":"","name":"Jupiter Sensor","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f476ed89.c693d","type":"ui_group","z":"","name":"Temperature","tab":"6ef6d165.7e5ae","order":1,"disp":true,"width":"6","collapse":false},{"id":"37449ac3.9bb516","type":"inject","z":"36d0e4c3.29d19c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["776231b4.551"]]},{"id":"776231b4.551","type":"i2c in","z":"36d0e4c3.29d19c","name":"","busno":"1","address":"72","command":"0","count":"2","x":290,"y":200,"wires":[["51984cb2.66c6b4"]]},{"id":"51984cb2.66c6b4","type":"function","z":"36d0e4c3.29d19c","name":"Calc Temp","func":"var temp_high = msg.payload[0];\nvar temp_low = msg.payload[1];\nvar temp;\n\n// Justify temperature values\ntemp = (temp_high << 8 | temp_low) >> 4;\n\n// Handle negative values\nif(temp & (1 << 11)) \n{\n    temp |= 0xF800;\n}\n\n// Calc temp\ntemp = temp * 0.0625;\n\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["9fa32f7.00f78d"]]},{"id":"c8c11bae.140068","type":"ui_gauge","z":"36d0e4c3.29d19c","name":"","group":"f476ed89.c693d","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature Gauge","label":"°C","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":160,"wires":[]},{"id":"b4684657.8de3c8","type":"ui_chart","z":"36d0e4c3.29d19c","name":"","group":"f476ed89.c693d","order":1,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":240,"wires":[[]]},{"id":"9fa32f7.00f78d","type":"calculator","z":"36d0e4c3.29d19c","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"rdec","constant":"1","round":false,"decimals":0,"x":620,"y":200,"wires":[["c8c11bae.140068","b4684657.8de3c8"]]}]